body{
    background-color: rgb(219, 215, 208);
}

h1{
    color: slategrey;
    font-family: 'Courier New', Courier, monospace;
}
h2
{
    font-family: fantasy;
    color:rgb(99, 101, 104);
}
